{% extends 'base.html' %}

{% from "macro/formmacros.html" import render_field %}

{% block title %}
{{ super() }}
Вход
{% endblock title %}

{% block content %}
    <h1>Вход</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">
        {# csrf protection #}
        {{ form.csrf_token }}

        {% for field in ['username', 'password'] %}
            {{ render_field(form[field]) }}
        {% endfor %}

        <div>
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>

{% endblock content %}
