{% extends 'base.html' %}

{% block title %}
{{ super() }}
{{ article.title }}
{% endblock title %}

{% block content %}
<h2>{{ article.title }}</h2>
<p>{{ article.updated_at }}</p>


<p>Author: {{ article.author.user.username }}</p>


<p><a href="{{ url_for('user.user_detail', pk=article.author.user.id) }}">{{ article.author.user.username }}.
        {% if article.author.user.last_name%}
            {{ article.author.user.last_name }}
        {% endif %}
        {% if article.author.user.last_name%}
            {{ article.author.user.first_name }}
        {% endif %}</a></p>

<p>{{ article.article_text }}</p>

{% endblock content %}
